{% extends "base.html" %}

<!-- Extrahead -->
{% block extrahead %}

<meta property="og:url" content="{{ page.canonical_url }}">
{% if page and page.meta and page.meta.title %}
<meta property="og:title" content="{{ page.meta.title }}">
{% elif page and page.title and not page.is_homepage %}
<meta property="og:title" content="{{ page.title }} - {{ config.site_name }}">
{% else %}
<meta property="og:title" content="{{ config.site_name }}">
{% endif %}
{% if page and page.meta and page.meta.description %}
<meta property="og:description" content="{{ page.meta.description }}">
{% else %}
<meta property="og:description" content="{{ config.site_description }}">
{% endif %}
<meta property="og:image" content="{{ config.site_url }}assets/images/ogimage.png?v=2">
<meta property="og:image:alt" content="AR Geocaching Slovakia">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

{% endblock %}